*{
  margin: 0;
  padding: 0;
}

body {
  background: #F5ECCE;
}

.navegation {
  clear: right;
  float: right;
  margin-top: 35px;
}

.logo {
  display: inline-block;
  float: left;
}

header {
  background: #ffffff;
  border-bottom: solid;
  border-color: red;
}

.div-header {
  margin: 0px 110px;
  padding-top: 10px;
}

.image-perfil {
  height: 15px;
  width: 15px;
}

.perfil {
  float: right;
}

.link-nombre {
  color: red;
  font-family: arial;
  font-size: 13px;
  text-decoration: none;
}

.links {
  color: red;
  font-family: arial;
  font-size: 16px;
  text-decoration: none;
}

.cerrar-sesion {
  color: gray;
  font-family: arial;
  font-size: 13px;
  text-decoration: none;
}

.cerrar {
  border-left: solid gray 2px;
  padding-left: 3px;
}

.navegation a {
  margin-left: 35px;
}

.link-seleccion {
  font-weight: bold;
}

.navegation a:hover {
  color: gray;
}

.container {
  margin: 0 auto;
  max-width: 864.7px;
  overflow: hidden;
  padding: 20px;
}

.barra-busqueda {
  text-align: center;
}

.barra-busqueda input {
  margin: 0 auto;
}


.title-seccion, .movie-datails__title {
  border-bottom: solid black 1px;
  color: red;
  font-family: arial;
}

.movie-datails__overview {
  border-top: 1px solid;
  margin-top: 3px; 
  padding: 10px 5px 5px;
}

.movie-datails__exit {
  color: rgba(0,0,0,0.8);
  font-family: sans-serif;
  font-weight: bold;
  padding: 3px 6px;
  position: absolute;
  right: 24px;
  top: 12px;
}

.movie-datails__exit:hover {
  background-color: red;
  border-radius: 14px;
  color: white;
  padding: 3px 6px;
}

.secciones{
  margin-top: 40px;
}

section > p {
  color: gray;
  font-family: arial;
  margin-top: 25px;
}

.movie-datails {
  background-color: white;
  border-radius: 28px;
  border: 2px solid rgba(0,0,0,0.8);
  box-shadow: 39px 32px 26px rgba(0,0,0,0.5);
  font-family: sans-serif;
  font-size: 15px;
  left: 210px;
  padding: 13px;
  position: absolute;
  top: 132px;
  width: 816px;
}

.movie-datails__img {
  border-radius: 5px;
  border-right: 3px solid red;
  border-top: 3px solid red;
  height: 200px;
  margin: 5px 10px 0 0;
  width: 300px;
}

.movie-datails__inf, .js-movie-container{
  display: inline-block;
}

.movie-datails__attr-list {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
}
.movie-datails__attr {
  color: red;
  font-family: sans-serif;
  font-weight: bold;
}

.is-active {
  opacity: 0.5;
}

.moviesCards {
  display: inline-block;
  height: 227px;
  width: 44.6%;
} 

.moviesCards__img, .images-peliculas {
  border-radius: 5px;
  border-right: 3px solid red;
  border-top: 3px solid red;
  cursor: pointer;
  height: 200px;
  width: 130px;
}

.images-peliculas {
  margin: 5.5px;
}

.moviesCards {
  background-color: #F1EDDE;
  border: solid 3px #E0ECDD;
  margin: 4px;
  padding: 15px;
}

.moviesCards__container-text {
  display: inline-block;
  vertical-align: top;
  width: 52%;
}

.moviesCards-container-text__parrafo {
  height: 164px;
  margin-bottom: 15px;
  overflow: auto;
}

.moviesCards__container-img {
  display: inline-block;
  width: 40%;
}

.moviesCards__title {
  color: red;
  font-family: sans-serif;
  font-size: 15px;
  margin-bottom: 7px;
}
.moviesCards__release-date, .moviesCards__overview {
  font-size: 9.75px;
}

.moviesCards__overview {
  font-family: sans-serif;
  margin-bottom: 5px;
} 

.moviesCards__release-date {
  color: gray;
  font-weight: bold;
}

.moviesCards__botons {
  background-color: gray;
  border-radius: 4px;
  border: gray;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
  padding: 5px 0;
  text-align: center;
  width: 90px;
}

.color-red {
  background-color: red;
}

.moviesCards__botons:hover {
  background-color: white;
  color: red;
}
.text-in-favorites {
  color: gray;
  font-family: sans-serif;
  font-size: 15px;
  margin-top: 15px;
}

.no-favorite {
  background-color: yellow;
  color: red;
  border: solid red 1px;
}

.popup {
  background-color: rgba(0,0,0,0.5); 
  bottom: 0;
  left: 0;
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
}




